.whatsNew {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  padding: 1.5rem;
  background-color: var(--very-dark-blue);
  line-height: 1.5;
}

h2 {
  color: var(--soft-orange);
}

h3 {
  color: var(--off-white);
}

p {
  font-size: 0.9rem;
  color: var(--grayish-blue);
}