.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin-block-start: 2rem;
  max-width: 30rem;
}

.headlineTitle {
  font-size: 2.5rem;
  font-weight: var(--font-weight-extra-bold);
  color: var(--very-dark-blue);
}

.headlineImg {
  width: 100%;
}

.headlineInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}

.headlineInfo p {
  font-size: 0.95rem;
  color: var(--dark-grayish-blue);
  line-height: 1.5;
}

.headlineInfoContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.headlineInfo button {
  font-weight: var(--font-weight-extra-bold);
  color: var(--very-dark-blue);
  padding: 1rem 2.2rem;
  border: none;
  background-color: var(--soft-red);
  letter-spacing: 0.2rem;
}