*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  /* Colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: none;
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
  font-style: none;
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-style: none;
}

body {
  padding: 1rem;
  padding-block-start: 0;
  background-color: var(--off-white);
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-block-start: clamp(2rem, 5vw, 3rem);
  max-width: 35rem;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.menu-overlay {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  background-color: hsla(0, 0%, 0%, 0.496);
  width: 100vw;
  height: 100vh;
  display: none;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1.5rem;
  width: 68%;
  height: 100vh;
  background-color: var(--off-white);
}

.close-menu {
  cursor: pointer;
  width: 2rem;
  align-self: flex-end;
}

.side-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.side-menu__list li:hover {
  cursor: pointer;
  font-weight: var(--font-weight-extra-bold);
  color: var(--soft-red);
}

@media (min-width: 64rem) {
  body {
    margin-block: 5vw;
  }

  .main-content {
    flex-direction: row;
    align-items: flex-start;
    max-width: 80vw;
  }
}